# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

node_modules/

# C extensions
*.so
**/.env
# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.idea/
.installed.cfg
*.egg
buy_anything/buy_anything/db_settings.py

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml



# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Other
.idea
.DS_Store
args